<div class="story">
  <h4>{{ @story.title }}</h4>
  <p>
    {{#if @story.url}}
    <a href={{ @story.url }} target={{ @story.id }}>[link]</a>
    {{else}}
    {{ @story.text }}
    {{/if}}      
  </p>
  <hr>
  
  <!-- add comments -->
  <comment-form @story={{ @story }}></comment-form>

  <ul>
  {{#each @story.comments key="@index" as |comment|}}
    <li>
      <em>{{ @comment.user }} {{ @comment.ago }}</em><br/>
      {{@comment.text}}
    </li>
  {{/each}}
  </ul>
</div>