<ul class="stories">
  {{#each @stories key="@index" as |story|}}
    <li>
      {{#if story.url}}
      <a href={{ story.url }} target={{ story.id }}>{{story.title}}</a> ({{ story.domain }})
      {{else}}
      <a href='#' onclick={{ action @showStory story.id }}>Discussion: {{story.title}}</a>
      {{/if}}
      <div>
        <a href='#' onclick={{ action @showStory story.id }}>{{ story.ago }} by {{ story.user }} | comments</a>
      </div>
    </li>
  {{/each}}
</ul>
