<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello Glimmer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{rootURL}}app.css">
    
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <div class="container" id="app"></div>
    <script src="//cdn.auth0.com/js/auth0/8.12/auth0.min.js"></script>
    <script src="{{rootURL}}app.js"></script>
    <script src="//unpkg.com/jquery" type="text/javascript"></script>
    <script src="//unpkg.com/moment" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {{content-for "body-footer"}}
  </body>
</html>
