h1 {
  color: #444;
}
.navbar-light { 
  background: #f60;
  color: #fff;
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link .active, 
.navbar-light .navbar-nav .nav-link .open, 
.navbar-light .navbar-nav .open>.nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .active {
  font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.comments li:nth-child(even), 
.stories li:nth-child(even) {
  background: #f7f7f7
}
.comments li,
.stories li {
  padding: 10px 15px;
}
.story {
  padding: 10px 15px;
}
.story h4 {
  padding: 10px 0;
}