<!-- add comments -->
<form>
  <div class="form-group">     
    <textarea name="comment" class="form-control" onkeyup={{ action commentOnKeyUp }}>{{ commentText }}</textarea>
    <button class="btn btn-warning" onclick={{ action submitComment }}>add comment</button>
  </div>
</form>