<div class='container'>

  <nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" onclick={{ action showStories }}><span>Ω&nbsp;</span>Codesmell</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick={{ action showStories }}>stories</a>
      </li>
      {{#if loggedIn}}
      <li class="nav-item">
        <a class="nav-link" href="#" onclick={{ action showForm }}>submit</a>
      </li>
      {{/if}}      
    </ul>
    <ul class="navbar-nav">
      {{#if loggedIn}}      
      <li class="nav-item">
        <span>{{ userProfile.nickname }}</span>
      </li>
      <li class="nav-item">              
        <a href='#' class="nav-link" onclick={{ action logoutClick }}>Log Out</a>
      </li>
      {{else}}
      <li class="nav-item">              
        <a href='#' class="nav-link" onclick={{ action loginClick }}>Log In</a>
      </li>
      {{/if}}      
    </ul>
  </nav>


  {{#if isStoryView }}
  <story-view @story={{ story }}></story-view>
  {{/if}}


  {{#if isListView }}
  <story-list @stories={{ stories }} @showStory={{ action showStory }}></story-list>
  {{/if}}


  {{#if isSubmitView }}
  <strong>submit article:</strong>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="title" value={{ newitemTitle }} onkeyup={{ action titleOnKeyUp }} />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="url" placeholder="url" value={{ newitemUrl }} onkeyup={{ action urlOnKeyUp }} />
    </div>
    <div class="form-group">
      <textarea name="text" class="form-control" placeholder="text" onkeyup={{ action textOnKeyUp }}>{{ newitemText }}</textarea>
    </div>
    <button class="btn btn-warning" onclick={{ action submitStory }}>add story</button>
  </form>
  {{/if}}


</div>
